@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

svg {
  stroke-width: 15px;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 0.5em;
  font-weight: bold;
  border-radius: 5px;
  color: gray;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appGame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  background-color: lightgray;
}

.square {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.circle {
  stroke: #ff665c;
  animation: draw 2s linear forwards;
}

.cross {
  stroke: darkslategrey;
}

.result2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.cross line:nth-of-type(1) {
  animation: 1s linear forwards draw;
}

.cross line:nth-of-type(2) {
  animation: 1s linear 0.2s forwards draw;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: 0;
  animation: 0.5s linear 0.5s forwards show;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.winner button {
  font-family: "Montserrat", sans-serif;
  border: 1px solid var(--border-color);
  background-color: var(--border-color);
  font-size: 0.6em;
  padding: 0.6em 1em;
  color: white;
  cursor: pointer;
}
